---
import { SignedIn, SignedOut, SignIn } from '@clerk/astro/components';
import Layout from '../../layouts/default.astro';
import { actions } from 'astro:actions';

const url = Astro.url;
url.pathname = '/forms/web-dev-challenge';

const result = await Astro.getActionResult(actions.forms.wdc);
console.log({ result });

const user = await Astro.locals.currentUser();
---

<Layout title="Web Dev Challenge Filming Questionnaire">
	<main>
		<SignedIn>
			<section class="wrapper">
				<h2>Thanks, {user?.firstName}!</h2>

				<p>
					You’re all set. You can update your bio, profile photo,
					and links at any time on <a href="/dashboard">your dashboard</a>.
				</p>

				<p>
					If you have any questions, please don’t hesitate to ask via email,
					phone, or 
					<a href="https://discord.com/channels/936836444503310426/1402143551776882788">
						in Discord
					</a>.
				</p>
			</section>
		</SignedIn>

		<SignedOut>
			<SignIn forceRedirectUrl={url.toString()} />
		</SignedOut>
	</main>
</Layout>

<style>
	main {
		background: var(--black);
		padding: 40px 5cqw 60px;
	}

	.wrapper {
		margin-inline: auto;
		max-inline-size: 54ch;

		@media (min-width: 750px) {
			padding-block-start: 120px;
		}

		p {
			margin-block-start: 16px;
		}
	}
</style>
