---
import { getAllEpisodes } from '@codetv/sanity';
import { ClientRouter } from 'astro:transitions';
import VideoModal from '../../../../../components/video-modal.astro';

import '../../../../../styles/global.css';

export const prerender = true;

export async function getStaticPaths() {
	const allEpisodes = await getAllEpisodes();

	const paths = await Promise.all(
		allEpisodes.map(async (e) => {
			if (!e.series || !e.collection || !e.slug) {
				console.log(e);
				return false;
			}

			const episode = e;

			return {
				params: {
					seriesSlug: e.series.slug,
					collectionSlug: e.collection.slug,
					episodeSlug: e.slug,
				},
				props: { episode },
			};
		}),
	);

	return paths.filter(Boolean);
}

const { episode } = Astro.props;

const url = Astro.url;
const pathParts = url.pathname.split('/');
const canonicalPathParts = pathParts.filter((p) => p !== 'play');
url.pathname = canonicalPathParts.join('/');

if (!episode.video || (!episode.video.youtube_id && !episode.video.mux)) {
	return Astro.redirect(url.pathname);
}

const episodeIndex =
	episode.related_episodes?.findIndex((e) => e.slug === episode.slug) ?? 0;

const episodeNumber = (
	episode.collection?.slug + `.E${episodeIndex + 1}`
).toUpperCase();

const title =
	episode.title + ' | ' + episode.series?.title + ' ' + episodeNumber;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="canonical" href={url.toString()} />

		<title>{title}</title>

		<script src="https://cdn.usefathom.com/script.js" data-site="FEWJBQRA" defer
		></script>

		<ClientRouter />
	</head>
	<body>
		<VideoModal episode={episode} />
	</body>
</html>
