---
import Layout from '../layouts/default.astro';
import PageHeader from '../components/page-header.astro';
import NewsletterSection from '../components/home/newsletter.astro';

export const prerender = true;
---

<Layout
	title="Get the CodeTV newsletter — tv for developers"
	description="New episodes, hackathons, and more delivered directly to your inbox."
	image="https://res.cloudinary.com/jlengstorf/image/upload/f_auto/q_auto/codetv/newsletter-header.png"
>
	<main>
		<PageHeader
			image={{
				public_id: 'codetv/newsletter-header',
				alt: 'Sterling Chin, Michael Liendo, Dave Schwantes, Alex Riviere, Will Johnson, Brittany Ellich, and Abbey Perini laughing while sitting on risers on the set of Web Dev Challenge S2.',
			}}
			line1="Newsletter"
			line2=""
			aspectRatio={2.0329411765}
		/>

		<NewsletterSection />
	</main>
</Layout>

<style>
	:global(main .hero) {
		z-index: 10;
	}

	:global(main .newsletter) {
		z-index: 1 !important;
	}
</style>
