---
import { Image } from '@unpic/astro';
import Heart from '../heart.astro';
import Supporters from '../supporters.astro';
---

<div class="supporters">
	<h3>Join the CodeTV Community</h3>

	<Supporters />

	<div class="content">
		<p>
			Supporters of CodeTV get exclusive benefits and make it possible to create
			more original programming. Join our community of developers today.
			Together, we can make an even bigger impact. <Heart />
		</p>

		<div class="support-options">
			<a href="/support" class="button">Join as an Individual Supporter</a>
			<a href="https://partners.codetv.dev" class="button secondary"
				>For Companies</a
			>
		</div>
	</div>
</div>

<style>
	.supporters {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		padding: 32px max((100% - var(--max-width)) / 2, 5%) 48px;

		h3 {
			font-family: var(--font-family-heading);
			font-size: clamp(1.75rem, 3cqi, 2.5rem);
			inline-size: 100%;
			line-height: 1;
			margin: 0;
			text-align: center;
		}
	}

	.content {
		align-items: start;
		display: flex;
		flex-direction: column;
		justify-content: end;
		max-inline-size: 800px;
		padding: 0 5dvi;
		position: relative;
		z-index: 10;

		@media (min-width: 1280px) {
			inline-size: 50%;
			padding: 0;
		}

		h2 {
			font-family: var(--font-family-heading);
			/* font-size: clamp(1.75rem, 5.5cqi, 6.25rem); */
			line-height: 1;
			margin: 0;

			@media (min-width: 1280px) {
				/* font-size: clamp(2rem, 4.5cqi, 6.25rem); */
			}
		}

		p {
			margin: 1rem 0 0;
		}

		.support-options {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			justify-content: center;
			margin-block-start: 32px;
			margin-inline: auto;

			.button {
				margin: 0;
				padding-block: 8px;
			}
		}
	}
</style>
