---
import Layout from '../layouts/default.astro';
import Hero from '../components/home/hero.astro';
import Series from '../components/home/series.astro';
import Partners from '../components/home/partners.astro';
import Support from '../components/home/support.astro';
import Newsletter from '../components/home/newsletter.astro';

export const prerender = true;
---

<Layout title="tv for developers — CodeTV">
	<main>
		<Hero />

		<Series />

		<Partners />

		<Support />

		<Newsletter />
	</main>
</Layout>
