---
import Layout from '../../layouts/default.astro';
import PasswordForm from '../../components/password-form.astro';
import '../../styles/forms.css';

// TODO put the password and content into either a CMS or DB
const hasAccess = Astro.cookies.get('codetv:deck:secret')?.value === '1';
---

<Layout title="Web Dev Challenge Filming Questionnaire">
	<main>
    {hasAccess ? (
      <section class="wrapper">
        <h1>Your Secret Deck</h1>
      </section>
    ) : (
      <PasswordForm deckId="secret" />
    )}
	</main>
</Layout>

<style>
	main {
		background: var(--black);
		padding: 40px 5cqw 60px;
	}

	.wrapper {
		margin-inline: auto;
		max-inline-size: 54ch;

		@media (min-width: 750px) {
			padding-block-start: 120px;
		}

		p {
			margin-block-start: 16px;
		}
	}
</style>
