---
import Layout from '../../layouts/default.astro';
import Newsletter from '../../components/home/newsletter.astro';
import PageHeader from '../../components/page-header.astro';

export const prerender = true;

const data = {
  hero: {
    image: {
    	public_id: 'codetv-home-hero',
      alt: 'A group of developers sitting on bleachers in the Web Dev Challenge demo set, watching two developers present their project',
    },
    line1: '“Touch Grass”',
    line2: 'Take the Web Dev Challenge',
  }
}
---

<Layout title="tv for developers — CodeTV">
	<main>
		<PageHeader
			image={data.hero.image}
			line1={data.hero.line1}
			line2={data.hero.line2}
		/>

    <section class="overview">
      
    </section>

    <section class="challenge">
      <h2>The Challenge</h2>
      <div class="copy">
        <p class="lede">
          So much of the software out there today seems to be reducing our connections — we talk to fewer people, have fewer reasons to go outside, etc. — so let’s build apps that help connect us to the physical world.
        </p>
        <p>
          Face-to-face. IRL. Meatspace. Between no-contact deliveries and every AI app trying to replace another human relationship — from pair programming to therapy to romantic partners — it feels like so much of the technology being produced right now is designed to minimize, or even eliminate, our need to interact with other humans.
        </p>
        <p>
          Let’s do our small part to change that. Your challenge is to build an app that encourages people to connect with the physical world and/or each other.
        </p>
        <p>
          What helps you disconnect from the digital firehose and spend time making offline connections? Go in whatever direction inspires you, whether that’s a hobby, different ways to spend time together with other people, connecting to nature, or something completely different.
        </p>
        <p>
          Your app should help ground your users and reconnect them to the world beyond their screens.
        </p>
      </div>
    </section>
    
		<Newsletter />
	</main>
</Layout>

<style>
  .challenge {
    padding: 24px 5cqi;

		@media (min-width: 1280px) {
      align-items: first baseline;
      display: grid;
      gap: 50px;
      grid-template-columns: max-content minmax(0, 1fr);
			padding-block: 50px;
			padding-inline: max((100% - var(--max-width)) / 2, 5%);
    }

    h2 {
      font-family: var(--font-family-heading);
			font-size: clamp(1.75rem, 3.75cqi, 4.25rem);
      font-weight: normal;
      line-height: 1;
      margin: 0;
    }
  }

  .copy {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .lede {
      color: var(--text-emphasized);
      font-size: 1.5em;
      font-weight: 300;
      line-height: 1.25;
    }
  }
</style>

<style is:global>
  .hero > h1 > .line-2 {
    font-size: 0.5em !important;
    letter-spacing: -0.01em !important;
  }
</style>
