---
import { SignedIn, SignedOut } from '@clerk/astro/components';
import Search from './search/search.astro';

export const prerender = false;
---

<footer>
	<div class="mini-bio">
		<p>
			At CodeTV, we believe developers deserve to see themselves in the
			entertainment they watch. We believe you deserve the best educational
			materials and an excited, supportive community to learn with. And most of
			all, we believe that <strong>you belong here.</strong>
		</p>
	</div>

	<div class="middle">
		<nav class="links">
			<a href="https://partners.codetv.dev">Become a partner / sponsor</a>
			<a href="https://codetv.link/uses">Gear, software, & more we use</a>
			<a href="mailto:info@codetv.dev">Send us an email</a>
			<a href="/code-of-conduct">Code of conduct</a>
			<a href="https://github.com/codetv-dev/codetv.dev">Source code</a>
		</nav>
	</div>

	<nav class="links">
		<Search />
		<SignedOut>
			<a href="/dashboard/sign-in">Supporter Log In</a>
			<a href="/dashboard/sign-up">Become a Supporter</a>
		</SignedOut>
		<SignedIn>
			<a href="/dashboard">Dashboard</a>
		</SignedIn>
		<a href="https://store.codetv.dev/">CodeTV Store</a>
		<a href="/newsletter">Newsletter</a>
		<a href="/blog">CodeTV Blog</a>
	</nav>
</footer>

<style>
	footer {
		align-items: center;
		background: var(--bg);
		color: color-mix(in oklch, var(--text) 15%, var(--text-muted));
		display: flex;
		flex-direction: column;
		font-size: 0.75rem;
		gap: 2rem;
		padding: 80px max(calc((100% - var(--max-width)) / 2), 5%) 64px;

		@media (min-width: 800px) {
			display: grid;
			grid-template-columns: min(90dvi, 400px) auto max-content;
		}

		.mini-bio {
			p + p {
				margin-block-start: 16px;
			}
		}

		.middle {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.links {
				@media (min-width: 800px) {
					align-items: center;
				}
			}
		}

		.links {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			@media (min-width: 800px) {
				align-items: end;
			}

			a {
				color: inherit;

				&:is(:hover, :focus, :active) {
					color: var(--text);
				}
			}
		}
	}
</style>
