---
import { actions } from 'astro:actions';
import '../styles/forms.css';

export interface Props {
	deckId: string;
}

const result = Astro.getActionResult(actions.decks.unlock);

const { deckId } = Astro.props;
---

<section class="form-wrapper">
	<form action={actions.decks.unlock} method="POST">
		<section class="form-section" data-role="developer advisor">
			<div class="section-header">
				<h2>This page is a secret</h2>

				<p>Enter the password to access it.</p>
			</div>

			<div class="field">
				<label for="phone">Password</label>
				<p class="description">
					You can find the password in the email that contained the link to this
					page.
				</p>
				<input
					type="password"
					name="password"
					id="password"
					class="input"
					required
				/>
			</div>

			{
				result && result.data && !result.data.hasAccess ? (
					<p class="error">The password you entered is invalid.</p>
				) : null
			}

			<button type="submit" class="button">Unlock</button>

			<input type="hidden" name="deckId" value={deckId} />
		</section>
	</form>
</section>
